In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('mt_cars.csv')
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,NaN,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245.0,NaN,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95.0,NaN,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,NaN,123.0,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,NaN,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,NaN,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,NaN,8,275.8,180.0,NaN,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,NaN,3.07,NaN,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,NaN,NaN,NaN,NaN,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,NaN,NaN,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,NaN,52.0,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,NaN,NaN,1.835,NaN,1,1,4,1
20,Toyota Corona,21.5,4,120.1,NaN,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,NaN,150.0,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,NaN,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,NaN,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,NaN,91.0,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,NaN,8,NaN,264.0,4.22,NaN,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175.0,3.62,NaN,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,NaN,109.0,NaN,2.780,18.60,1,1,4,2

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
model    32 non-null object
mpg      27 non-null float64
cyl      32 non-null int64
disp     24 non-null float64
hp       25 non-null float64
drat     26 non-null float64
wt       28 non-null float64
qsec     31 non-null float64
vs       32 non-null int64
am       32 non-null int64
gear     32 non-null int64
carb     32 non-null int64
dtypes: float64(6), int64(5), object(1)
memory usage: 3.1+ KB

In [4]:
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,27.000000,32.000000,24.000000,25.000000,26.000000,28.000000,31.000000,32.000000,32.000000,32.000000,32.0000
mean,20.837037,6.187500,221.562500,144.560000,3.601154,3.142214,17.782581,0.437500,0.406250,3.687500,2.8125
std,6.241434,1.785922,113.793584,71.690934,0.537917,0.959747,1.776183,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.950000,4.000000,135.625000,95.000000,3.097500,2.428750,16.885000,0.000000,0.000000,3.000000,2.0000
50%,21.000000,6.000000,196.300000,113.000000,3.695000,3.325000,17.600000,0.000000,0.000000,4.000000,2.0000
75%,23.600000,8.000000,301.750000,175.000000,3.915000,3.570000,18.755000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,460.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [5]:
df.isnull().sum()

model    0
mpg      5
cyl      0
disp     8
hp       7
drat     6
wt       4
qsec     1
vs       0
am       0
gear     0
carb     0
dtype: int64

In [6]:
df.isnull().sum().sum()

31

In [7]:
df.shape

(32, 12)

In [8]:
df.isnull().sum(axis=is=1)

0     0
1     0
2     0
3     0
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    2
13    2
14    4
15    0
16    2
17    0
18    1
19    3
20    1
21    1
22    1
23    1
24    0
25    0
26    1
27    0
28    3
29    1
30    0
31    2
dtype: int64

In [11]:
round(df.isnull().sum()/len(df)*100,2)

model     0.00
mpg      15.62
cyl       0.00
disp     25.00
hp       21.88
drat     18.75
wt       12.50
qsec      3.12
vs        0.00
am        0.00
gear      0.00
carb      0.00
dtype: float64

In [13]:
df['mpg'].value_counts()

21.0    2
19.2    2
30.4    2
21.4    2
10.4    2
22.8    2
14.7    1
21.5    1
15.5    1
17.8    1
26.0    1
15.0    1
27.3    1
15.2    1
14.3    1
33.9    1
18.1    1
24.4    1
19.7    1
16.4    1
32.4    1
Name: mpg, dtype: int64

In [14]:
df['hp'].isnull().sum()

7

In [15]:
np.isnan(df['hp']).sum()

7

In [19]:
df=df[~np.isnan(df['hp'])]

In [20]:
df.shape

(25, 12)

In [21]:
df.drop('gear',axis=1)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,carb
0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4
1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4
2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,1
3,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,1
4,Hornet Sportabout,NaN,8,360.0,175.0,3.15,3.440,17.02,0,0,2
5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,1
6,Duster 360,14.3,8,360.0,245.0,NaN,3.570,15.84,0,0,4
7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,2
8,Merc 230,22.8,4,140.8,95.0,NaN,3.150,22.90,1,0,2
9,Merc 280,19.2,6,NaN,123.0,3.92,3.440,18.30,1,0,4
12,Merc 450SL,NaN,8,275.8,180.0,NaN,3.730,17.60,0,0,3
15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,4
17,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,19.47,1,1,1
18,Honda Civic,30.4,4,NaN,52.0,4.93,1.615,18.52,1,1,2
21,Dodge Challenger,15.5,8,NaN,150.0,2.76,3.520,16.87,0,0,2
22,AMC Javelin,NaN,8,304.0,150.0,3.15,3.435,17.30,0,0,2
23,Camaro Z28,NaN,8,350.0,245.0,3.73,3.840,15.41,0,0,4
24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,2
25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,1
26,Porsche 914-2,26.0,4,NaN,91.0,4.43,2.140,16.70,0,1,2
27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,2
28,Ford Pantera L,NaN,8,NaN,264.0,4.22,NaN,14.50,0,1,4
29,Ferrari Dino,19.7,6,145.0,175.0,3.62,NaN,15.50,0,1,6
30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,8
31,Volvo 142E,21.4,4,NaN,109.0,NaN,2.780,18.60,1,1,2

In [22]:
df.isnull().sum()

model    0
mpg      5
cyl      0
disp     6
hp       0
drat     4
wt       2
qsec     0
vs       0
am       0
gear     0
carb     0
dtype: int64

In [24]:
df.fillna(value='NULL_VALUE')

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21,6,160,110.0,3.9,2.62,16.46,0,1,4,4
1,Mazda RX4 Wag,21,6,160,110.0,3.9,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108,93.0,3.85,2.32,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258,110.0,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,NULL_VALUE,8,360,175.0,3.15,3.44,17.02,0,0,3,2
5,Valiant,18.1,6,225,105.0,2.76,3.46,20.22,1,0,3,1
6,Duster 360,14.3,8,360,245.0,NULL_VALUE,3.57,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62.0,3.69,3.19,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95.0,NULL_VALUE,3.15,22.90,1,0,4,2
9,Merc 280,19.2,6,NULL_VALUE,123.0,3.92,3.44,18.30,1,0,4,4
12,Merc 450SL,NULL_VALUE,8,275.8,180.0,NULL_VALUE,3.73,17.60,0,0,3,3
15,Lincoln Continental,10.4,8,460,215.0,3,5.424,17.82,0,0,3,4
17,Fiat 128,32.4,4,78.7,66.0,4.08,2.2,19.47,1,1,4,1
18,Honda Civic,30.4,4,NULL_VALUE,52.0,4.93,1.615,18.52,1,1,4,2
21,Dodge Challenger,15.5,8,NULL_VALUE,150.0,2.76,3.52,16.87,0,0,3,2
22,AMC Javelin,NULL_VALUE,8,304,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,NULL_VALUE,8,350,245.0,3.73,3.84,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400,175.0,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79,66.0,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26,4,NULL_VALUE,91.0,4.43,2.14,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,NULL_VALUE,8,NULL_VALUE,264.0,4.22,NULL_VALUE,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145,175.0,3.62,NULL_VALUE,15.50,0,1,5,6
30,Maserati Bora,15,8,301,335.0,3.54,3.57,14.60,0,1,5,8
31,Volvo 142E,21.4,4,NULL_VALUE,109.0,NULL_VALUE,2.78,18.60,1,1,4,2

In [26]:
df['mpg'].fillna(value=df['mpg'].mean(),inplace=True)

C:\Users\User\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [28]:
df['mpg'].isnull().sum()

0

In [31]:
df.fillna(method='ffill',inplace=True)

In [32]:
df.isnull().sum()

model    0
mpg      0
cyl      0
disp     0
hp       0
drat     0
wt       0
qsec     0
vs       0
am       0
gear     0
carb     0
dtype: int64

In [34]:
df[df['mpg']>22][['wt']]

       wt
2   2.320
7   3.190
8   3.150
17  2.200
18  1.615
25  1.935
26  2.140
27  1.513

In [47]:
df['new mpg']=df.apply(lambda x: 'low' if x.mpg<19 else 'medium' ,axis=1)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [48]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,new mpg
0,Mazda RX4,21.000,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4,medium
1,Mazda RX4 Wag,21.000,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4,medium
2,Datsun 710,22.800,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1,medium
3,Hornet 4 Drive,21.400,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1,medium
4,Hornet Sportabout,21.635,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2,medium
5,Valiant,18.100,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1,low
6,Duster 360,14.300,8,360.0,245.0,3.69,3.570,15.84,0,0,3,4,low
7,Merc 240D,24.400,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2,medium
8,Merc 230,22.800,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2,medium
9,Merc 280,19.200,6,275.8,123.0,3.92,3.440,18.30,1,0,4,4,medium
12,Merc 450SL,21.635,8,275.8,180.0,3.00,3.730,17.60,0,0,3,3,medium
15,Lincoln Continental,10.400,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4,low
17,Fiat 128,32.400,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1,medium
18,Honda Civic,30.400,4,304.0,52.0,4.93,1.615,18.52,1,1,4,2,medium
21,Dodge Challenger,15.500,8,304.0,150.0,2.76,3.520,16.87,0,0,3,2,low
22,AMC Javelin,21.635,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2,medium
23,Camaro Z28,21.635,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4,medium
24,Pontiac Firebird,19.200,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2,medium
25,Fiat X1-9,27.300,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1,medium
26,Porsche 914-2,26.000,4,95.1,91.0,4.43,2.140,16.70,0,1,5,2,medium
27,Lotus Europa,30.400,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2,medium
28,Ford Pantera L,21.635,8,145.0,264.0,4.22,3.570,14.50,0,1,5,4,medium
29,Ferrari Dino,19.700,6,145.0,175.0,3.62,3.570,15.50,0,1,5,6,medium
30,Maserati Bora,15.000,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8,low
31,Volvo 142E,21.400,4,301.0,109.0,3.54,2.780,18.60,1,1,4,2,medium

In [39]:
df.mpg

0     21.000
1     21.000
2     22.800
3     21.400
4     21.635
5     18.100
6     14.300
7     24.400
8     22.800
9     19.200
12    21.635
15    10.400
17    32.400
18    30.400
21    15.500
22    21.635
23    21.635
24    19.200
25    27.300
26    26.000
27    30.400
28    21.635
29    19.700
30    15.000
31    21.400
Name: mpg, dtype: float64

In [57]:
df['new mpg']=df.apply(lambda x: 'low' if x.mpg<19 else ('medium' if (x.mpg<24) else 'high'),axis=1)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [53]:
df.apply(lambda x:'increased' if x.mpg>x.qsec else('not_changed' if x.mpg==x.qsec else 'dec'),axis=1)

0     increased
1     increased
2     increased
3     increased
4     increased
5           dec
6           dec
7     increased
8           dec
9     increased
12    increased
15          dec
17    increased
18    increased
21          dec
22    increased
23    increased
24    increased
25    increased
26    increased
27    increased
28    increased
29    increased
30    increased
31    increased
dtype: object

In [55]:
df.apply(lambda x:'increased' if x.mpg<20 else('not_changed' if (x.mpg>20) & (x.mpg<24) else 'dec'),axis=1)

0     not_changed
1     not_changed
2     not_changed
3     not_changed
4     not_changed
5       increased
6       increased
7             dec
8     not_changed
9       increased
12    not_changed
15      increased
17            dec
18            dec
21      increased
22    not_changed
23    not_changed
24      increased
25            dec
26            dec
27            dec
28    not_changed
29      increased
30      increased
31    not_changed
dtype: object

In [58]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,new mpg
0,Mazda RX4,21.000,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4,medium
1,Mazda RX4 Wag,21.000,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4,medium
2,Datsun 710,22.800,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1,medium
3,Hornet 4 Drive,21.400,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1,medium
4,Hornet Sportabout,21.635,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2,medium
5,Valiant,18.100,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1,low
6,Duster 360,14.300,8,360.0,245.0,3.69,3.570,15.84,0,0,3,4,low
7,Merc 240D,24.400,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2,high
8,Merc 230,22.800,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2,medium
9,Merc 280,19.200,6,275.8,123.0,3.92,3.440,18.30,1,0,4,4,medium
12,Merc 450SL,21.635,8,275.8,180.0,3.00,3.730,17.60,0,0,3,3,medium
15,Lincoln Continental,10.400,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4,low
17,Fiat 128,32.400,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1,high
18,Honda Civic,30.400,4,304.0,52.0,4.93,1.615,18.52,1,1,4,2,high
21,Dodge Challenger,15.500,8,304.0,150.0,2.76,3.520,16.87,0,0,3,2,low
22,AMC Javelin,21.635,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2,medium
23,Camaro Z28,21.635,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4,medium
24,Pontiac Firebird,19.200,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2,medium
25,Fiat X1-9,27.300,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1,high
26,Porsche 914-2,26.000,4,95.1,91.0,4.43,2.140,16.70,0,1,5,2,high
27,Lotus Europa,30.400,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2,high
28,Ford Pantera L,21.635,8,145.0,264.0,4.22,3.570,14.50,0,1,5,4,medium
29,Ferrari Dino,19.700,6,145.0,175.0,3.62,3.570,15.50,0,1,5,6,medium
30,Maserati Bora,15.000,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8,low
31,Volvo 142E,21.400,4,301.0,109.0,3.54,2.780,18.60,1,1,4,2,medium